
.single-teacher-container {
    background-image: linear-gradient(to right top, #f9742f, #fa6430,
    #fb5232, #fb3c36, #fa1b3b);
    margin: 10px;
    text-align: center;
    padding: 20px 0 10px;
    border-radius: 10px;
}


.single-teacher-container img {
    border-radius: 50%;
    width: 100px;    
}
.single-teacher-container button {
    padding: 5px 30px;
    border-radius: 10px;
    border: 0;
    cursor: pointer;
}